.fmr1_m{ width:678px; padding:15px;}
.fp3{ width:678px; padding:5px 0px;}
.fp3 a{ color:#390; text-decoration:none}
.fp3 a:hover{ color:#390; text-decoration:underline}
.finput3{ width:166px; height:20px; border:1px solid #ddd; color:#ccc;}
.fspan9{ color:#f60;}
.fspan9 a{ color:#390; text-decoration:none}
.fspan9 a:hover{ color:#390; text-decoration:underline}