.b_wrap{width:980px;margin:0 auto;}

.current{background:url(../images/portal_register/b_line.jpg) repeat-x left bottom;width:980px;height:35px;line-height:35px;}
.current span{background:url(../images/home_icon.jpg) no-repeat left center;padding-left:25px;height:35px;line-height:35px;display:inline-block;}

.regin_w{border:1px solid #ddd;border-top:2px solid #33b2e7;width:980px;margin:8px auto;background:#fff;}
.regin_con{float:left;background:#fff;padding:15px;width:680px;}
.regin_info{float:right;width:240px;background:#f5f5f5;padding:12px 15px;}
.regin_menu{height:30px;line-height:30px;}
.regin_menu ul li{height:30px;line-height:30px;background:#ededed;font-size:14px;font-weight:bold;float:left;margin-left:15px;width:90px;text-align:center;}
.regin_menu ul li.selected{border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:2px solid #ff7a21;background:#fff;}
.regin_tw{border-top:1px solid #ddd;padding:12px 20px;}
.regin_tw table tr td{height:40px;line-height:40px;}
.regin_tw table tr td input{border:1px solid #ddd;height:24px;line-height:24px;}
.regin_tw .rg_in{width:210px;}
.regin_tw .rg_yzm{width:80px;}
.regin_info{float:right;width:240px;background:#f5f5f5;padding:12px 15px;}
.regin_info p{line-height:26px;}
.regin_info .if_t{font-size:14px;color:#333;height:35px;line-height:35px;}
.regin_info .if_tit{font-weight:bold;color:#1a7dbc;font-size:14px;height:30px;line-height:30px;}
