.b_wrap{width:980px;margin:0 auto;}
.current{background:url(../images/usercenter/b_line.jpg) repeat-x left bottom;width:980px;height:35px;line-height:35px;}
.current span{background:url(../images/usercenter/home_icon.jpg) no-repeat left center;padding-left:25px;height:35px;line-height:35px;display:inline-block;}

.b_wrap{width:980px;margin:0 auto; }
.current{background:url(../images/usercenter/b_line.jpg) repeat-x left bottom;width:980px;height:35px;line-height:35px;}
.current span{background:url(../images/usercenter/home_icon.jpg) no-repeat left center;padding-left:25px;height:35px;line-height:35px;display:inline-block;}
.container[data-v-357a65ed] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 1200px;
    margin: 8px auto 0;
}
.container .left_box[data-v-357a65ed] {
    width: 159px;
    float: left;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.container .left_box .aside li[data-v-357a65ed] {
    min-height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    color: #555666;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-weight: 400;
}

.container .left_box .aside li.router-link-active .zl[data-v-357a65ed] {
    background: #f6f7f8;
    color: #222226;
    font-weight: 500;
    font-family: PingFangSC-Medium,PingFang SC!important;
}
.container .view-container[data-v-357a65ed] {
    margin-left: 168px;
    background-color: #fff;
    min-height: 95%;
    padding: 0 24px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 510px;
}
.container .view-container>div[data-v-357a65ed] {
    overflow: hidden;
}
.UserProfile .info-box[data-v-165b75c4] {
    margin-bottom: 24px;
}
.UserProfile .info-box header[data-v-165b75c4] {
    width: 100%;
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}
.UserProfile .info-box .left-title[data-v-165b75c4] {
    color: #222226;
    font-size: 16px;
    font-weight: 600;
}
.UserProfile .info-box .line-box[data-v-165b75c4] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background: #e5e5e5;
    margin-top: 12px;
}
/*修改用户信息*/
.UserProfile .info-box .right-btn[data-v-165b75c4] {
    padding: 0 16px;
    text-align: center;
    border: 1px solid #108ee9;
    border-radius: 13px;
    color: #108ee9;
    cursor: pointer;
}
article, aside, audio, body, canvas, caption, details, div, figure, footer, header, hgroup, html, iframe, img, mark, menu, nav, object, section, span, summary, table, tbody, td, tfoot, thead, tr, video {
    border: 0;
    margin: 0;
    padding: 0;
}
.contain .msg-item[data-v-165b75c4] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px 0;
    color: #555666;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.contain .msg-item .msg-key[data-v-165b75c4] {
    width: 64px;
    text-align: right;
    float: left;
    word-break: break-all;
}
.contain .msg-item .msg-val[data-v-165b75c4] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 16px;
    word-break: break-all;
}
