<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中南游--保险详细页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/travelView.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <script src="../static/js/imgtoggle.js"></script>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var wweya_li =$("div.tab_menu ul li");
            wweya_li.click(function(){
                $(this).addClass("selected")
                    .siblings().removeClass("selected");
                var index =  wweya_li.index(this);
                $("div.tab_box > div")
                    .eq(index).show(100)
                    .siblings().hide();
            }).hover(function(){
                $(this).addClass("hover");
            },function(){
                $(this).removeClass("hover");
            });
        });
    </script>
</head>
<body>
<!--导航栏--->
<div th:replace="navigation :: copy"></div>
<!--导航栏--->
<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/insurance}">旅游保险</a>>> <a href="#">保险详情</a> </div>
    <div class="clumn_w clearfix">
        <div class="clumn_l">
            <div class="clumn">
                <div class="clumn_tit t01">旅游保险</div>
                <div class="clumn_con">
                    <div class="cln_w">
                        <p>保险合作公司</p>
                        <div class="cln_c clearfix">
                            <a  target="_blank">中国平安</a>
                            <a target="_blank">中国人寿</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clumn_r">
            <div class="tc_tit" th:text="${entity.title}"></div>
            <div class="xq_wrap clearfix">
                <div class="xq_left"><img th:src="${entity.imgUrl}"/></div>
                <div class="xq_right">
                      <div class="xq_detail">
                          <p th:if="${entity.insuranceCompany==0}">保险公司：中国平安</p>
                          <p th:if="${entity.insuranceCompany==1}">保险公司：中国人寿</p>
                          <p th:if="${entity.type==0}">保险类型：自驾旅游保险</p>
                          <p th:if="${entity.type==1}">保险类型：高原旅游保险</p>
                          <p th:if="${entity.type==2}">保险类型：港澳台旅游保险</p>
                          <p th:if="${entity.type==3}">保险类型：国内自助游保险</p>
                          <p th:text="'价格：'+${entity.price}"></p>
                          <p th:text="'简介：'+${entity.resume}"></p>
                      </div>
                    <div class="xq_button">
                        <a th:if="${session.userName!=null}" th:href="@{/insuranceCreatOrder(id=${entity.id})}">
                            <img src="../static/routel_list/order_button.jpg"/></a>
                        <p th:if="${session.userName==null}"><font color="red" >预定请先登陆</font></p>
                        <p th:if="${CreatSuccess==true}"><font color="red" >预定成功，请前往会员中心-我的订单查看订单</font></p></div>

                  </div>
            </div>

        </div>
    </div>
</div>
<!--底部--->
<div th:replace="navigation :: foot"></div>
<!--底部--->
</body>
</html>
