<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中南旅游网-我的订单</title>
    <!--自定义样式-->
    <link href="favicon.ico" rel="#">
    <link href="../static/css/bootstrap.min.css"rel="stylesheet" type="text/css" >
    <link href="../static/css/userCenter.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/myOrder.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>

<!--导航栏--->
<div th:replace="navigation :: copy"></div>
<!--导航栏--->
<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/userCenter}">会员中心</a></div>

    <div data-v-357a65ed="" class="container">
        <div data-v-357a65ed="" class="left_box">
            <ul data-v-357a65ed="" class="aside">
                <li data-v-357a65ed="">
                    <a class="zl" th:href="@{/personInfo}">个人资料</a></li>
                <li data-v-357a65ed="">
                    <a class="zl" th:href="@{/changePassword}" >密码修改</a></li>
            </ul>
            <ul data-v-357a65ed="" class="aside">
                <li data-v-357a65ed="">
                    <a class="zl" th:href="@{/myOrder}">我的订单</a></li>
            </ul>
        </div>
        <div data-v-357a65ed="" class="view-container">
            <div data-v-165b75c4="" data-v-357a65ed="" class="UserProfile view">
                <div class="fmr1">
                    <div class="fmr1_m">
                        <div class="ftx">
                            <form id="pageForm" name="pageForm" action="/myOrder" method="post">
                                <input type="hidden" id="count" name="count" th:value="${pageParam.count}"/>
                                <input type="hidden" id="size" name="size" th:value="${pageParam.size}"/>
                                <div class="fy_w"><a href="#" th:text="${pageParam.pageNumber}+'/'+${pageParam.size}+'页'"> </a>
                                    <a class="previousPage" th:if="${pageParam.pageNumber != 1}" th:href="@{/myOrder(pageSize=7,pageNum=${pageParam.pageNumber}-1)}">上一页</a><a class="toPageOne" href="/myOrder?pageSize=7&pageNum=1">首页</a><a class="nextPage" th:if="${pageParam.pageNumber != pageParam.size}" th:href="@{/myOrder(pageSize=${pageParam.pageSize},pageNum=${pageParam.pageNumber}+1)}">下一页</a>
                                    <a class="toPageLast" th:href="@{/myOrder(pageSize=${pageParam.pageSize},pageNum=${pageParam.size})}">尾页</a></div>
                            </form>
                        </div>

                        <div class="forder">
                            <div class="for_top">
                                <div class="for_t4">订单编号</div>
                                <div class="for_t2">产品信息</div>
                                <div class="for_t3">订单金额</div>
                                <div class="for_t3">订单状态</div>
                                <br style="clear:both"/>
                            </div>
                            <div class="for_m" th:each="var,iterStat: ${pageData}">
                                <div class="for_t4">
                                    <p th:text="'订单号：'+${var.orderCode}"></p>
                                    <p th:text="'订单日期：'+${var.orderTime}"></p>
                                    <p th:text="'预定日期：'+${var.setoffTime}"></p>
                                    <p th:if="${var.productType==0}">订单类型：旅游路线</p>
                                    <p th:if="${var.productType==1}">订单类型：旅游景点</p>
                                    <p th:if="${var.productType==2}">订单类型：酒店</p>
                                    <p th:if="${var.productType==3}">订单类型：旅游车票</p>
                                    <p th:if="${var.productType==4}">订单类型：旅游保险</p>
                                </div>
                                <div class="for_t2">
                                    <img th:src="${var.imgUrl}" style=" width:60px;   height: 45px;" align="absmiddle"/>&nbsp;<span class="fspan3" th:text="${var.productName}"></span>
                                </div>
                                <div class="for_t3" th:text="${var.fee}"></div>
                                <div class="for_t3" th:if="${var.state==0}">待付款</div>
                                <div class="for_t3" th:if="${var.state==1}">已付款</div>
                                <div class="for_t3" th:if="${var.state==2}">已撤销</div>
                                <div class="for_t3"><a class="" th:if="${var.state==0}" th:href="@{/payOrder(id=${var.id})}">付款</a><br>
                                    <a th:if="${var.state==0}" th:href="@{/deleteOrder(id=${var.id})}">撤销</a>
                                </div>                                <br style="clear:both"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!--底部--->
<div th:replace="navigation :: foot"></div>
<!--底部--->
</body>
</html>
