<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中南游--个人资料</title>
    <!--自定义样式-->
    <link href="favicon.ico" rel="#">
    <link href="../static/css/bootstrap.min.css"rel="stylesheet" type="text/css" >
    <link href="../static/css/userCenter.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/personalIntro.css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>

<!--导航栏--->
<div th:replace="navigation :: copy"></div>
<!--导航栏--->

<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/userCenter}">会员中心</a></div>
    <div data-v-357a65ed="" class="container">
        <div data-v-357a65ed="" class="left_box">
            <ul data-v-357a65ed="" class="aside">
                <li data-v-357a65ed="">
                    <a class="zl" th:href="@{/personInfo}">个人资料</a></li>
                <li data-v-357a65ed="">
                    <a class="zl" th:href="@{/changePassword}" >密码修改</a></li>
            </ul>
            <ul data-v-357a65ed="" class="aside">
                <li data-v-357a65ed="">
                    <a class="zl" th:href="@{/myOrder}">我的订单</a></li>
            </ul>
        </div>
        <div data-v-357a65ed="" class="view-container">
            <div data-v-165b75c4="" data-v-357a65ed="" class="UserProfile view">
                <div class="fmr1_m">
                    <form method="post" action="/personSave">
                        <input type="hidden" id="id" name="id" th:value="${entity.id}"/>
                        <p class="fp3">
                        <table border="0" cellpadding="0" cellspacing="0" width="638">
                            <tr>
                                <td width="60" align="left" height="30">用户名：</td>
                                <td width="578" align="left" height="30"><input type="text" th:value="${entity.userName}" class="finput3" id="userName" name="userName" value="" placeholder="请输入用户名"/></td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">真实姓名：</td>
                                <td width="578" align="left" height="30"><input type="text" th:value="${entity.name}" class="finput3" id="name" name="name" value="" placeholder="请输入真实姓名"/></td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">联系方式：</td>
                                <td width="578" align="left" height="30"><input type="text" th:value="${entity.linkTel}" class="finput3" id="linkTel" name="linkTel" value="" placeholder="请输入电话号码"/></td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">身份证号码：</td>
                                <td width="578" align="left" height="30"><input type="text" th:value="${entity.icCode}" class="finput3" id="icCode" name="icCode" value="" placeholder="请输入身份证号码"/></td>
                            </tr>
                            <tr>
                                <td width="62">所在地：</td>
                                <td width="588">
                                    <select id="province" name="province">
                                        <option th:selected="${entity.province==1?'selected':'false'}" value="1">北京</option>
                                        <option th:selected="${entity.province==2?'selected':'false'}" value="2">天津</option>
                                        <option th:selected="${entity.province==3?'selected':'false'}" value="3">上海</option>
                                        <option th:selected="${entity.province==4?'selected':'false'}" value="4">重庆</option>
                                        <option th:selected="${entity.province==5?'selected':'false'}" value="5">河北</option>
                                        <option th:selected="${entity.province==6?'selected':'false'}" value="6">河南</option>
                                        <option th:selected="${entity.province==7?'selected':'false'}" value="7">云南</option>
                                        <option th:selected="${entity.province==8?'selected':'false'}" value="8">辽宁</option>
                                        <option th:selected="${entity.province==9?'selected':'false'}" value="9">黑龙江</option>
                                        <option th:selected="${entity.province==10?'selected':'false'}" value="10">湖南</option>
                                        <option th:selected="${entity.province==11?'selected':'false'}" value="11">安徽</option>
                                        <option th:selected="${entity.province==12?'selected':'false'}" value="12">山东</option>
                                        <option th:selected="${entity.province==13?'selected':'false'}" value="13">新疆</option>
                                        <option th:selected="${entity.province==14?'selected':'false'}" value="14">江苏</option>
                                        <option th:selected="${entity.province==15?'selected':'false'}" value="15">浙江</option>
                                        <option th:selected="${entity.province==16?'selected':'false'}" value="16">江西</option>
                                        <option th:selected="${entity.province==17?'selected':'false'}" value="17">湖北</option>
                                        <option th:selected="${entity.province==18?'selected':'false'}" value="18">广西</option>
                                        <option th:selected="${entity.province==19?'selected':'false'}" value="19">甘肃</option>
                                        <option th:selected="${entity.province==20?'selected':'false'}" value="20">山西</option>
                                        <option th:selected="${entity.province==21?'selected':'false'}" value="21">内蒙古</option>
                                        <option th:selected="${entity.province==22?'selected':'false'}" value="22">陕西</option>
                                        <option th:selected="${entity.province==23?'selected':'false'}" value="23">吉林</option>
                                        <option th:selected="${entity.province==24?'selected':'false'}" value="24">福建</option>
                                        <option th:selected="${entity.province==25?'selected':'false'}" value="25">贵州</option>
                                        <option th:selected="${entity.province==26?'selected':'false'}" value="26">广东</option>
                                        <option th:selected="${entity.province==27?'selected':'false'}" value="27">青海</option>
                                        <option th:selected="${entity.province==28?'selected':'false'}" value="28">西藏</option>
                                        <option th:selected="${entity.province==29?'selected':'false'}" value="29">四川</option>
                                        <option th:selected="${entity.province==30?'selected':'false'}" value="30">宁夏</option>
                                        <option th:selected="${entity.province==31?'selected':'false'}" value="31">海南</option>
                                        <option th:selected="${entity.province==32?'selected':'false'}" value="32">台湾</option>
                                        <option th:selected="${entity.province==33?'selected':'false'}" value="33">香港</option>
                                        <option th:selected="${entity.province==34?'selected':'false'}" value="34">澳门</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" height="30">提示：<span class="fspan9"> 您的资料将被默认保存为第一游客信息，请您完整如实填写，避免资料不实带来的不便。</span></td>
                            </tr>
                            <tr>
                                <td colspan="20" height="30"  style="flex-flow: column; padding: 20px"><button type="submit" class="btn btn-primary">点击修改</button></td>
                            </tr>
                        </table>
                        </p>
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>
<!--底部--->
<div th:replace="navigation :: foot"></div>
<!--底部--->
</body>
</html>
