<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中南旅游网</title>
    <!--自定义样式-->
    <link href="favicon.ico" rel="#">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var wweya_li =$("div.tab_menu ul li");
            wweya_li.click(function(){
                $(this).addClass("selected")
                    .siblings().removeClass("selected");
                var index =  wweya_li.index(this);
                $("div.tab_box > div")
                    .eq(index).show(100)
                    .siblings().hide();
            }).hover(function(){
                $(this).addClass("hover");
            },function(){
                $(this).removeClass("hover");
            });
        });

       function b(){
            if($("#userName").val()==""||$("#password").val()==""||$("#checkPassword").val()==""||$("#linkTel").val()==""
                ||$("#name").val()==""||$("#icCode").val()==""||$("#checkbox").val()!="ok"){
                alert("请填写必填字段");
            }
        }
    </script>
</head>
<body>

    <!--导航栏--->
    <div th:replace="navigation :: copy"></div>
    <!--导航栏--->

    <div class="b_wrap">
        <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a>  >> <a th:href="@{/register}">会员注册</a></div>
        <div class="regin_w clearfix">
            <!--左侧注册-->
            <div class="regin_con">
                <div class="regin">
                    <div class="tab_menu regin_menu">
                        <ul class="regin_ul">
                            <li class="selected">注册</li>
                        </ul>
                    </div>
                    <div class="tab_box">
                        <div class="regin_tw">
                            <form class="layui-form" method="post" action="/registering">
                                <table width="650" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="62">用户名：</td>
                                        <td width="588"><input class="rg_in" type="text" id="userName" name="userName" value="" placeholder="请输入用户名"/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td     width="100px">登录密码：</td>
                                        <td><input class="rg_in" type="password" id="password" name="password" value="" placeholder="请输入密码"/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td>确认密码：</td>
                                        <td><input class="rg_in" type="password" id="checkPassword" name="checkPassword" value="" placeholder="请输入确认密码"/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">联系方式：</td>
                                        <td width="588"><input class="rg_in" type="text" id="linkTel" name="linkTel" value="" placeholder="请输入联系方式"/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">真实姓名：</td>
                                        <td width="588"><input class="rg_in" type="text" id="name" name="name" value="" placeholder="请输入真实姓名"/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">身份证号：</td>
                                        <td width="588"><input class="rg_in" type="text" id="icCode" name="icCode" value="" placeholder="请输入身份证号码"/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">所在地：</td>
                                        <td width="588">
                                            <select id="province" name="province">
                                                <option value="1">北京</option>
                                                <option value="2">天津</option>
                                                <option value="3">上海</option>
                                                <option value="4">重庆</option>
                                                <option value="5">河北</option>
                                                <option value="6">河南</option>
                                                <option value="7">云南</option>
                                                <option value="8">辽宁</option>
                                                <option value="9">黑龙江</option>
                                                <option value="10">湖南</option>
                                                <option value="11">安徽</option>
                                                <option value="12">山东</option>
                                                <option value="13">新疆</option>
                                                <option value="14">江苏</option>
                                                <option value="15">浙江</option>
                                                <option value="16">江西</option>
                                                <option value="17">湖北</option>
                                                <option value="18">广西</option>
                                                <option value="19">甘肃</option>
                                                <option value="20">山西</option>
                                                <option value="21">内蒙古</option>
                                                <option value="22">陕西</option>
                                                <option value="23">吉林</option>
                                                <option value="24">福建</option>
                                                <option value="25">贵州</option>
                                                <option value="26">广东</option>
                                                <option value="27">青海</option>
                                                <option value="28">西藏</option>
                                                <option value="29">四川</option>
                                                <option value="30">宁夏</option>
                                                <option value="31">海南</option>
                                                <option value="32">台湾</option>
                                                <option value="33">香港</option>
                                                <option value="34">澳门</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><input type="checkbox" id="checkbox" value="ok"/> 愿意接受中南游会员协议 <font color="red">*必选</font> </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td> <button type="submit" class="btn btn-primary">提交并注册</button></td>
                                    </tr>
                                    <tr th:if="${message!=null}">
                                        <td>&nbsp;</td>
                                        <td th:text="${message}"></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="hide regin_tw">dhgjfd</div>
                    </div>
                </div>
            </div>

            <!--右侧广告-->
            <div class="regin_info">
                <p class="if_t"><b>为什么选择中南游</b></p>
                <div>
                    <div class="if_tit"><img src="../static/images/portal_register/dj_01.jpg"/></div>
                    <p>低价保证、无零负团费、无特殊附加
                        费、9大出游保障。</p>
                </div>
                <div>
                    <div class="if_tit"><img src="../static/images/portal_register/ff_01.jpg"/> </div>
                    <p>8万+旅游产品，涵盖跟团、自助、自
                        驾、邮轮、公司游等，总有一款适合您。</p>
                </div>
                <div>
                    <div class="if_tit"><img src="../static/images/portal_register/xx_01.jpg"/> </div>
                    <p>累计服务300万人次，60万真实点评，
                        2万原创游记。</p>
                </div>
                <div>
                    <div class="if_tit"><img src="../static/images/portal_register/fw_01.jpg"/></div>
                    <p>全国15个出发城市，7X24小时服务</p>
                </div>
                <img style="width: 80%" src="../static/images/portal_register/zc_img0.jpg"/>
            </div>
        </div>
    </div>

    <!--底部--->
    <div th:replace="navigation :: foot"></div>
    <!--底部--->
</body>
</html>
