<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中南游--旅游路线详细页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/travelView.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <script src="../static/js/imgtoggle.js"></script>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript"> 
    $(function(){
        var wweya_li =$("div.tab_menu ul li");
        wweya_li.click(function(){
        $(this).addClass("selected")            
         .siblings().removeClass("selected");  
            var index =  wweya_li.index(this); 
        $("div.tab_box > div")  
        .eq(index).show(100)   
            .siblings().hide(); 
                }).hover(function(){
            $(this).addClass("hover");
        },function(){
            $(this).removeClass("hover");           
        });
    });
</script>
</head>
<body>

<!--导航栏--->
<div th:replace="navigation :: copy"></div>
<!--导航栏--->
<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/travelSpot}">旅游景点</a> <a href="#">景点详情</a> </div>
    <div class="clumn_w clearfix">
        <div class="clumn_l">
            <div class="clumn">
                <div class="clumn_tit t01">旅游景点</div>
                <div class="clumn_con">
                    <div class="cln_w">
                    </div>
                    <div class="cln_w">
                        <p>热门主题</p>
                        <div class="cln_c clearfix">
                            <a target="_blank">温泉</a>
                            <a target="_blank">滑雪</a>
                            <a  target="_blank">美食</a>
                            <a target="_blank">登山</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="clumn_r">
            <div class="tc_tit" th:text="${entity.spotName}"></div>
            <div class="xq_wrap clearfix">
                <div class="xq_left"><img th:src="${entity.imgUrl}" width="227px" height="170px"/></div>

            </div>
            <div class="xq_wrap">
                <div class="tab_menu xq_menu">
                    <ul class="xq_ul">
                        <li class="selected">景点介绍</li>
                    </ul>
                </div>

                <div class="xq_detail">
                    <p th:if="${entity.spotStar==1}">景点等级：A</p><p></p>
                    <p th:if="${entity.spotStar==2}">景点等级：AA</p><p></p>
                    <p th:if="${entity.spotStar==3}">景点等级：AAA</p><p></p>
                    <p th:if="${entity.spotStar==4}">景点等级：AAAA</p><p></p>
                    <p th:if="${entity.spotStar==5}">景点等级：AAAAA</p><p></p>
                    <p th:text="'景点地址：'+${entity.spotAddress}"></p><p></p>
                    <p th:text="'开放时间：'+${entity.openTime}"></p><p></p>
                    <p th:text="'门票价格：￥'+${entity.ticketsMessage}"></p><p></p><p>
                    <p th:text="'景点简介：'+${entity.spotIntro}"></p><p></p>
                </div>
                <div class="xq_button">
                    <a th:if="${session.userName!=null}" th:href="@{/travelSpotCreatOrder(id=${entity.id})}">
                        <img src="../static/routel_list/order_button.jpg"/></a>
                    <p th:if="${session.userName==null}"><font color="red">预定请先登陆</font></p>
                    <p th:if="${CreatSuccess==true}"><font color="red">预定成功，请前往会员中心-我的订单查看订单</font></p></div>
              <div class="share">
                    <div class="bshare-custom"><strong>分享到&nbsp;&nbsp;</strong><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
                </div>



            </div>
        </div>
    </div>
</div>
<!--底部--->
<div th:replace="navigation :: foot"></div>
<!--底部--->


<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</body>
</html>
